# Developer local configuration for tECU
# Modify these paths according to your PC installation
#make flash BIN_PATH=C:/Users/danie/Documents/tECU/build/tECU_firmware.bin FLASH_ADDR=0x08000000
# ============================================================================
# TODO: Containerize development environment using Docker / Dev Containers.
#       - Standardize Toolchain (ARM GCC, Make, st-link, libusb) across OSs and CI.
#       - Eliminate local path dependencies in local_env.cfg.
#       - Support USB passthrough (e.g., usbipd on Windows) for 'make flash'.
# ============================================================================

ARM_GCC_PATH=C:\Users\danie\Documents\Tools\arm-gnu-toolchain_15.3.rel1\bin
MAKE_PATH=C:\Program Files\MinGW\bin
STLINK_PATH=C:\Users\danie\Documents\Tools\stlink-1.8.0\stlink-1.8.0-win32\bin
STLINK_SERIAL=066EFF303931594E43063756
LIBUSB_PATH=C:/Users/danie/Documents/Tools/libusb-1.0.30/MinGW64/dll
