# Configuración local del desarrollador para tECU
# Modifica estas rutas según la instalación de tu PC

ARM_GCC_PATH=C:\Users\danie\Documents\Tools\arm-gnu-toolchain_15.3.rel1\bin
MAKE_PATH=C:\Program Files\MinGW\bin